<header>
    <div class="wrapper">
    <h1>{{page.title}}</h1>
    <nav>
        <ul style="padding:5px;">
                    <a href="https://nahimbh.github.io/Flatfile/">Accueil</a>
                    <a href="https://nahimbh.github.io/Flatfile/about">About</a>
                    <a href="https://nahimbh.github.io/Flatfile/equipe">Equipe</a>
                    <a href="https://nahimbh.github.io/Flatfile/shop">Boutique</a>
                    <a href="https://nahimbh.github.io/Flatfile/blog">Contact</a>
        </ul>
    </nav>
    </div>
</header>
